.header__auth-block {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    max-height: 33px;
    margin: 0;
    padding-bottom: 40px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
}

@media(max-width: 400px) {
    .header__auth-block {
        padding-right: 30px;
    }
}