.form__button {
  padding: 0;
  width: 358px;
  height: 50px; 
  border-radius: 2px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  box-sizing: content-box;
}

.form__button:hover {
  opacity: 0.8;
}

@media (max-width: 700px) {
  .form__button {
    width: 238px;
    height: 46px;
    font-size: 14px;
    line-height: 1.21;
  }
}
