.mobile-log__auth-block_opened {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-height: 142px;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 40px;
    padding-top: 40px;
    box-sizing: content-box;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
    font-weight: 400;
    font-size: 14px;  
    visibility: visible;
}